#menuStart {
	margin-left: 125px;
	margin-bottom: 10px;
	width: 130px;
	float: left;
}
#menuSegment2, #menuSegment4, #menuSegment6 {
	margin-bottom: 10px;
	width: 130px;
	float: left;
}
#menuSegment3 {
	margin-bottom: 10px;
	width: 145px;
	float: left;
}
#menuSegment5 {
	margin-bottom: 10px;
	width: 125px;
	float: left;
}
#menu {
	margin-bottom: 10px;
	width: 130px;
	float: left;
}
#menuLast {
	margin-right: 1px;
	margin-bottom: 10px;
	width: 1px;
	float: none;
}
#mainmenuStart {
	margin-left: 30px;
	margin-bottom: 10px;
	width: 130px;
	float: left;
}
#mainmenuSegment2 {
	margin-bottom: 10px;
	width: 150px;
	float: left;
}
#mainmenuSegment3 {
	margin-bottom: 10px;
	width: 120px;
	float: left;
}
#mainmenuSegment4 {
	margin-bottom: 10px;
	width: 150px;
	float: left;
}
#mainmenuSegment5 {
	margin-bottom: 10px;
	width: 125px;
	float: left;
}
#mainmenuSegment6 {
	margin-bottom: 10px;
	width: 110px;
	float: left;
}
#mainmenuSegment7 {
	margin-bottom: 10px;
	width: 130px;
	float: left;
}
#mainmenu {
	margin-bottom: 10px;
	width: 130px;
	float: left;
}
#mainmenuLast {
	margin-right: 1px;
	margin-bottom: 10px;
	width: 1px;
	float: none;
}
ul.menu {
	display: none;
	list-style-type: none;
	margin-top: 5px;
}
ul.menu li {
	font: 12px arial, helvetica, sans-serif;
	padding-left: 10px;
	width: 180px;
}
a.menuLink, li a {
	text-decoration: none;
	color: #060;
}
a.menuLink {
	font-size: 16px;
	font-weight: bold;
}
#pullDown {
	width: 971px;
	margin-bottom: 10px;
	float: none;
	margin: 0;
	padding: 0;
	display: 
	block;
}

